@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
    font-family: 'open Sans', sans-serif;
    font-size: 100%;
    background-color: rgb(241, 241, 241);
    margin: 0;
}

a:link, a:visited {
    color: #DC6903;
}
a:focus,a:hover,a:active {
    color: #CBA47D;
}
a {
  text-decoration: none;
  padding-bottom: .2em;
}

header {
  text-align: center;
  width: auto;
  height: 7em;
  background-color: #fffaf5;
}
nav {
  font-family: 'open Sans', sans-serif;
  background-color: #5c5b5b;
  margin: 0px;
}
nav ul li a:link, nav ul li a:visited {
  color: #ffb168;
  display: block;
  border: 1px solid;
  border-radius: 1.1em;
  padding: .3em 0.5em;
  margin: .7em;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #da7e28;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

main {
    font-family: 'open Sans', sans-serif;
    background-color: white;
    line-height: 1.5em;
    color: #555;
    padding: 1em;
    border: 2px #141e43;
    background-color: #fffaf5;
}
h1 {
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #da7e28;
  padding-left: 1em;
  margin-top: 0.2em;
  font-family: 'open Sans', sans-serif;
  font-size: 1.0em;
  text-align: left;
}
h2 {
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #da7e28;
    padding-left: 1em;
    margin-top: 0.2em;
    font-family: 'open Sans', sans-serif;
    font-size: 1.3em;
    text-align: center;
  }
h3 {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #da7e28;
  border-top: 1px solid;
  padding-left: 1em;
  margin-top: 0.5em;
  font-family: 'open Sans', sans-serif;
  text-align: center;
}
p.more {
  font-family: 'open Sans', sans-serif;
  text-transform: uppercase; 
  font-size: .8em;
  clear: left;
}
main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
aside {
  background-color: #F6F3ED;
  padding: 1em;
  border-radius: 25px;
  height: 70%;
  font-family: 'open Sans', sans-serif;
}

footer {
  color: #EADDC4;
  text-align: center;
  font-size: .8em;
  padding: 1em;
  font-family: 'open Sans', sans-serif;
  background-color: #5c5b5b;
}

.day {
  color: #783F27;
  font-family: 'open Sans', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}

.progress_container {
    padding: 6px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
}
  
  .indicator {
    height: 18px;
    border-radius: 30px;
    text-align: center;
  }
  
  .progress-mover .indicator {
    width: 40%; 
    background-color: #da7e28;  
    animation: progressAnimation 1s;
  }
  
@keyframes progressAnimation {
    0%   { width: 5%; background-color: #5c5b5b;}
    100% { width: 40%; background-color: #da7e28; }
}

@media screen and (min-width: 512px) {
    header {
        height:10em;
    }
    main img {
        float: right;
        margin: 0 1em 1em 0;
        height: auto;
        width: 70%;
    }
    main {
        font-family: 'open Sans', sans-serif;
        background-color: white;
        line-height: 1.5em;
        color: #555;
        padding: 2em;
        background-color: #fffaf5;
    }
    nav ul li {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }
    nav ul {
        justify-content: center;
    }
    nav ul li a:link, nav ul li a:visited {
        padding: .5em 1em;
        margin: .5em;
    }
    .progress_container {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    }
}


@media screen and (min-width:600px){
    main {
        font-family: 'open Sans', sans-serif;
        background-color: white;
        line-height: 1.5em;
        color: #555;
        padding: 2em;
        background-color: #fffaf5;
    }
    main img {
        float: right;
        margin: 0 1em 1em 0;
        height: auto;
        width: 400px;
        padding: 1em;
    }
}

@media screen and (min-width:850px){
    #container{
        display: grid;
        grid-template-rows: auto min-height 5em;
        grid-template-columns: minmax(25fr, 1fr) 16em;
        grid-template-areas: "nav nav" "main funding_contact" "footer footer";
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
    }
    header{
        grid-area: nav;
    }
    h1{
        font-size: 1.8em;
    }
    main{
        grid-area: main;
    }
    aside{
        grid-area: funding_contact;
        padding: 1em;
        padding-left: 40px;
        padding-right: 40px;
    }
    footer{
        grid-area: footer;
    }
}
/* CSS Document */

